
.footer_area {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #008cba;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
