@page "/HaikuList"
@using ShortSong.ViewModels
@inherits HaikuListViewModel
<h3>俳句一覧</h3>
<p>検索条件</p>

<p>
    <MatTextField @bind-Value="KeyWord"
                  Label="キーワード"
                  Style="width:500px" />

    <MatButton Style="font-size:large"
               OnClick="OnSearch">
        検索
    </MatButton>
</p>

@if (Haikus.Count > 0)
{
    <MatTable Items="@Haikus">
        <MatTableHeader>
            <th>ID</th>
            <th>俳句</th>
            <th>作者</th>
            <th>操作</th>
        </MatTableHeader>
        <MatTableRow>
            <td>
                @context.Id
            </td>
            <td>
                <div style="white-space: nowrap;">
                    @context.Haiku
                </div>
            </td>
            <td>
                <div style="width:200px">
                    @context.Index
                </div>
            </td>
            <td>

                <MatButton Style="font-size:large"
                       OnClick="()=>OnDelete(context.Id)">
                    削除
                </MatButton>

                <MatButton Style="font-size:large"
                       OnClick="()=>OnEdit(context.Id)">
                    編集
                </MatButton>

            </td>

        </MatTableRow>

    </MatTable>
}
