@page "/PreferenceBatch"
@using ShortSong.ViewModels
@inherits PreferenceBatchViewModel

<h3>お気に入り一括登録</h3>



<p>
    <MatTextField @bind-Value="Author"
                  Label="作者"
                  Style="width:500px" />
</p>

<p>
    <MatTextField @bind-Value="Book"
                  Label="出典"
                  Style="width:500px" />
</p>

<p>
    <MatTextField @bind-Value="Era"
                  Label="時代"
                  Style="width:500px" />
</p>

<p></p>
<MatFileUpload OnChange="@OnFileUpload"
                  AllowMultiple=false
    Label="ファイルを選択してください"/>

    @if (Preferences.Count > 0)
{
   
    <MatTable Items="@Preferences">
        <MatTableHeader>
            <th style="width:1000px">短歌</th>
        </MatTableHeader>
        <MatTableRow>
            <td>
                <div style="white-space: nowrap;">
                    @context
                </div>
            </td>
        </MatTableRow>

    </MatTable>
   
}



<div>
    <input type="button"
           value="登録"
           @onclick="OnAddPreferenceAsync" />
</div>