@page "/PreferenceBatch"
@using ShortSong.ViewModels
@inherits PreferenceBatchViewModel

<header>
    <link href="~/css/common.css"/>
</header>

<h3>お気に入り一括登録</h3>

<p>
    <MatTextField @bind-Value="Author"
                  Label="作者"
                  Style="width:500px" />
</p>

<p>
    <MatTextField @bind-Value="Book"
                  Label="出典"
                  Style="width:500px" />
</p>

<p>
    <MatTextField @bind-Value="Era"
                  Label="時代"
                  Style="width:500px" />
</p>

<p></p>
<MatFileUpload OnChange="@OnFileUpload"
               AllowMultiple=false
               Label="ファイルを選択してください" />


@if (Preferences.Count > 0)
{

    <MatTable Items="@Preferences">
        <MatTableHeader>
            <th>チェック</th>
            <th style="width:500px">短歌</th>
            <th style="width:500px">備考</th>
        </MatTableHeader>
        <MatTableRow>
            <td>
                <MatCheckbox @bind-Value="context.Check" />
            </td>

            <td>
                <div style="white-space: nowrap;">
                    @context.Uta
                </div>
            </td>

            <td>
                <div style="white-space: nowrap;">
                    <MatTextField @bind-Value="context.Memo"/>
                </div>
            </td>
        </MatTableRow>

    </MatTable>

}



<div class="footer_area">
    <input type="button"
           value="登録"
           @onclick="OnAddPreferenceAsync"
           style="height:50px;width:100px"/>
</div>
