@page "/ShortSongList"
@using ShortSong.ViewModels
@inherits ShortSongListViewModel

<h3>短歌一覧</h3>

<p>検索条件</p>

<p>
    <MatTextField @bind-Value="KeyWord"
                  Label="キーワード"
                  Style="width:500px" />

    <MatButton Style="font-size:large"
                OnClick="OnSearch">
                検索
    </MatButton>
</p>

    @if (ShortSongs.Count > 0)
    {
        <MatTable Items="@ShortSongs"
                  >
           <MatTableHeader>
               <th >ID</th>
               <th >短歌</th>
               <th >見出し</th>
                <th>操作</th>
           </MatTableHeader>
           <MatTableRow>
                <td>
                    @context.Id
                </td>
                <td>
                    <div style="white-space: nowrap;">
                        @context.Uta
                    </div>
                </td>
                <td>
                    <div style="width:200px">
                        @context.Index
                    </div>
                </td>
            <td>
                
                <MatButton Style="font-size:large"
                       OnClick="()=>OnDelete(context.Id)">
                    削除
                </MatButton>

                <MatButton Style="font-size:large"
                       OnClick="()=>OnEdit(context.Id)">
                    編集
                </MatButton>
               
            </td>

           </MatTableRow>

        </MatTable>


    
    }
